{"filter":false,"title":".gitignore","tooltip":"/pet-shelter-client/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":250.90908547078288,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":12,"state":"start","mode":"ace/mode/ini"}},"timestamp":1736993463934,"hash":"f97396057473437884f392e366dbc5dc67109465"}